<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="javascript:void(0)" class="d-block">ERMS</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">

        <ng-container *ngFor="let menu of sidebarData">
          <ng-container *ngIf="menu.child.length < 1">
            <li class="nav-item" *forRoles="menu.roles">
              <a href="javascript:void(0)" class="nav-link" routerLink="{{ menu.fullPath }}" routerLinkActive="active">
                <i class="nav-icon {{ menu.icon }}"></i>
                <p>
                  {{ menu.title }}
                </p>
              </a>
            </li>
          </ng-container>

          <ng-container *ngIf="menu.child.length > 0">
            <li class="nav-item" *forRoles="menu.roles">
              <a href="javascript:void(0)" class="nav-link">
                <i class="nav-icon {{ menu.icon }}"></i>
                <p>
                  {{ menu.title }}
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">

                <ng-container *ngFor="let submenu of menu.child">
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link" routerLink="{{ menu.fullPath }}" routerLinkActive="active">
                      <i class="nav-icon {{ submenu.icon }}"></i>
                      <p>{{ submenu.title }}</p>
                    </a>
                  </li>
                </ng-container>

              </ul>
            </li>
          </ng-container>

        </ng-container>

        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link text-danger" (click)="logout()">
            <i class="nav-icon fas fa-power-off"></i>
            <p>
              Logout
            </p>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
