<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">

    <div class="os-padding">
      <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
        <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">

          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          </div>

          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">

              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
                    Manage Parameter
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>RR Library</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Mapping RR</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>RCSA</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>KRI</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Report</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>IAM</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>LED</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  <i class="nav-icon fas fa-user-lock"></i>
                  <p>
                    Hak Akses
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  <i class="nav-icon fas fa-user-check"></i>
                  <p>
                    Unit Assign
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  <i class="nav-icon fas fa-archive"></i>
                  <p>
                    Activites Log
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  <i class="nav-icon fas fa-sticky-note"></i>
                  <p>
                    Submit Log
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link text-danger" (click)="logout()">
                  <i class="nav-icon fas fa-power-off"></i>
                  <p>
                    Logout
                  </p>
                </a>
              </li>

            </ul>
          </nav>

        </div>
      </div>
    </div>

  </div>

</aside>
