
<app-content [breadcrumbs]="breadcrumbs">

  <app-sidebar sidebar>
  </app-sidebar>

  <ng-container title>
    Dashboard
  </ng-container>

  <ng-container content>
    <div class="row">
      <div class="col">
        Left
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            Right Left
          </div>
          <div class="col">
            Right Right
          </div>
        </div>
        <div class="row">
          <div class="col">
            Right Left
          </div>
          <div class="col">
            Right Right
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</app-content>
