
<app-content [breadcrumbs]="breadcrumbs">

  <!-- Sidebar -->
  <app-sidebar sidebar>
  </app-sidebar>

  <!-- Title -->
  <ng-container title>
    Welcome {{ currentUser.fullname }}
  </ng-container>

  <!-- Content -->
  <ng-container content>
    <div class="row">
      <div class="col">
        {{ listNotification.length }} New notification
      </div>
    </div>
    <ng-template *ngIf="listNotification.length > 0" class="row mt-4">

      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-body">
            {{ listNotification | json }}
          </div>
        </div>
      </div>

    </ng-template>
  </ng-container>

</app-content>
