
<app-content [breadcrumbs]="breadcrumbs">

  <!-- Sidebar -->
  <app-sidebar sidebar>
  </app-sidebar>

  <!-- Title -->
  <ng-container title>
    Welcome {{ currentUser.fullname }}
  </ng-container>

  <!-- Content -->
  <ng-container content>
    <span *ngIf="loading; else contentBody" class="spinner-border spinner-border-sm mr-1"></span>
    <ng-template #contentBody>

      <div *ngIf="error; else contentSuccess" class="alert alert-danger mt-3 mb-0">{{error}}</div>

      <ng-template class="row" #contentSuccess>
        <div class="col">
          {{ listNotification.length }} New notification
        </div>
      </ng-template>

      <ng-template *ngIf="listNotification.length > 0" class="row mt-4">

        <div class="col-md-3">
          <div class="card shadow">
            <div class="card-body">
              {{ listNotification | json }}
            </div>
          </div>
        </div>

      </ng-template>

    </ng-template>

  </ng-container>

</app-content>
