<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">

    <div class="os-padding">
      <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
        <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">

          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          </div>

          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">

              <li class="nav-item">
                <a href="javascript:void(0)" routerLink="/superuser/ErmsAdmin" routerLinkActive="active" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    ERMS Admin
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  <i class="nav-icon fas fa-user-shield"></i>
                  <p>
                    Risk Admin Task
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Task</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  <i class="nav-icon fas fa-user-cog"></i>
                  <p>
                    User Admin Task
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>A</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>B</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>C</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>D</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link text-danger" (click)="logout()">
                  <i class="nav-icon fas fa-power-off"></i>
                  <p>
                    Logout
                  </p>
                </a>
              </li>

            </ul>
          </nav>

        </div>
      </div>
    </div>

  </div>

</aside>
